@font-face {
    font-family: 'main-font';
    src: url('../fonts/Changa/subset-Changa-Regular.eot');
    src: url('../fonts/Changa/subset-Changa-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Changa/subset-Changa-Regular.woff2') format('woff2'),
    url('../fonts/Changa/subset-Changa-Regular.woff') format('woff'),
    url('../fonts/Changa/subset-Changa-Regular.ttf') format('truetype'),
    url('../fonts/Changa/subset-Changa-Regular.svg#Changa-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
