@font-face {
  font-family: 'Janna LT';
  src: url('../fonts/janna/JannaLT-Regular.eot');
  src: url('../fonts/janna/JannaLT-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/janna/JannaLT-Regular.woff2') format('woff2'), url('../fonts/janna/JannaLT-Regular.woff') format('woff'), url('../fonts/janna/JannaLT-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Janna LT';
  src: url('../fonts/janna/JannaLT-Bold.eot');
  src: url('../fonts/janna/JannaLT-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/janna/JannaLT-Bold.woff2') format('woff2'), url('../fonts/janna/JannaLT-Bold.woff') format('woff'), url('../fonts/janna/JannaLT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --main-color: #122b76;
  --second-color: #c0946f;
}

body,html {
  font-size: 14px;
  font-family: 'Janna LT', Roboto, Arial !important;
  font-weight: 400;
  line-height: 1.5 !important;
}

.btn {
  box-shadow: none !important;
  outline: !important;
}


.btn.btn-custom {
  padding: 10px 35px;
  border-radius: 2px;
}


footer{
  overflow: hidden;
  padding: 30px 0;
border-top: 1px solid var(--bs-gray-300);}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: var(--second-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: all .1s ease;opacity: 0.9;
}

.navbar {
  padding-top: 35px !important;
}


.header {
  height: 1000px;
}

#myBtn:hover {
  
color: #000;background: #fff;box-shadow: 0 5px 20px rgb(0 0 0 / 15%) !important;}

.navbar-brand img {
  background-size: cover;
}

.page {
  overflow: hidden;
}
.page-main {
  background-image: url("/assets/landing/images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  /* clip-path: ellipse(150% 100% at 50% 0); */
}

nav .btn {
  padding: 10px 30px !important;
font-size: 16px;transition: all .1s ease;border-radius: 5px !important;}



.btn-main {
  background-color: var(--main-color) !important;
  color: white !important;
  border-color: var(--main-color) !important;
  border-radius: 0.9rem !important;
}

.btn-outline-main {
  color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  border-radius: 0.9rem !important;
  box-shadow: none !important;
}

.btn {
  font-weight: bold !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.btn-outline-main:hover {
  background-color: var(--main-color) !important;
  color: white !important;
}

.btn-second {
  background-color: var(--second-color) !important;
  color: white !important;
  border-color: var(--second-color) !important;
  border-radius: 0.9rem !important;
}

.btn-outline-second {
  color: var(--second-color) !important;
  border-color: var(--second-color) !important;
  border-radius: 0.9rem !important;
}

.btn-outline-second:hover {
  background-color: var(--second-color) !important;
  color: white !important;
}

.nav-item {
  font-size: 16px;color: white !important;
}

.nav-item:hover {

}


.nav-item:hover a {
  color: var(--second-color);
}


.nav-item a {
  font-weight: 700 !important;
  padding: 0 20px !important;
  color: white !important;
  position: relative;
  transition: all .2s ease;
}
.nav-item a:after {
  content: '';
  background: #122b76;
  height: 3px;
  width: 0;
  bottom: -10px;
  position: absolute;
  z-index: 1;
  right: 15px;
  transition: all .2s ease;
}
.nav-item a:hover:after {
  width: 30px;
}


.nav-item a:hover {
  font-weight: 700 !important;
  color: var(--main-color) !important;
}

.nav-item .active {
  color: var(--main-color) !important;
  font-weight: bold !important;
}

/* .header-desc {
margin-top: 7rem !important;
padding-bottom: 20rem !important;
} */

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.social-icon.btn.btn-primary {
  border-radius: 5px !important;
  background: #c69f7e !important;
  border-color: #c69f7e !important;
transition: all .1s ease;font-size: 26px;padding-left: 12px !important;padding-right: 12px !important;}


.social-icon.btn.btn-primary:hover {
  
  background: white !important;
  
border-color: #fff !important;box-shadow: 0 3px 10px #0000001a !important;}

.social-icon.btn.btn-primary:hover i {
  color: var(--main-color)
}



.navbar-collapse.collapsing,
.navbar-collapse.collapse.show {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  padding: 30px 0;
right: 20px;width: calc(100% - 40px) !important;top: 146px;bottom: 0;z-index: 99999999999999;position: absolute;height: 360px !important;}

.navbar-collapse.show a {
  padding: 10px 0 !important;
}
.navbar-collapse.show a:after {
  display: none;
}

.navbar-collapse.collapsing ul,
.navbar-collapse.collapse.show ul {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse.collapsing ul li,
.navbar-collapse.collapse.show ul li {
  border-bottom: 1px solid white !important;
  width: 70%;
  text-align: center;
}


.navbar-collapse.collapsing form,
.navbar-collapse.collapse.show form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  width: 100%;

}

.navbar-collapse.collapsing form .btn.btn-main,
.navbar-collapse.collapse.show form .btn.btn-main{
  background:var(--second-color) !important;
  width: 70%;
  color: white !important;
}



.navbar-collapse.collapsing form .btn,
.navbar-collapse.collapse.show form .btn{
  margin: 5px;
  width: 70%;
  border: 2px solid var(--second-color) !important;
  color: var(--second-color) !important;
}


.navbar-collapse.collapsing ul li .nav-link.active ,
.navbar-collapse.collapse.show ul li .nav-link.active,
.navbar-collapse.collapse.show ul li .nav-link{
  color: var(--second-color) !important;
}
.navbar-collapse.collapsing.show .nav-item a {
  padding: 20px 0 !important;
}

.navbar-collapse.collapsing ul li .nav-link:hover ,
.navbar-collapse.collapse.show ul li .nav-link:hover {
  color: var(--second-color) !important;
}


.header-desc-container .btn:hover {

}

.header-desc-img {
  display: inline;
  position: absolute;
  left: 50%;
  transform: translateX(-52%);
  top: 40px;

  width: 90%;
  height: 85%;
}


.header-desc-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}


.header-info h1 {
  font-size: 50px;
font-weight: bold;margin-bottom: 30px;color: #fff;}



.header-info {
  text-align: center;
  z-index: 1;
  background-position: center;
  color: white !important;
  padding: 5rem;
  padding-top: 18rem !important;
  padding-bottom: 20rem !important;
}

.header-info .btn-second {
  font-size: 20px;
  border-radius: 5px !important;transition: all .2s ease;padding: 15px 40px !important;
}
.header-info .btn-second:hover {
  background: #d7ad89 !important;
}

.header-info .text-white {
  font-size: 24px;
margin-bottom: 50px;}

.navbar-toggler-icon {
  width: 45px !important;
  height: 45px !important;
}
.navbar-light .navbar-toggler {
  color: #fff !important;
  
border: none !important;box-shadow: none !important;width: 60px !important;height: 50px !important;}

.about .header-text {
  font-weight: bold;
  margin-bottom: 50px;
}
.about h1.header-text {
  position: relative;
  margin-bottom: 30px !important;
font-size: 40px;color: var(--main-color);margin-bottom: 60px !important;}
.about h1.header-text:after {
  height: 5px;
  width: 50px;
  content: '';
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -30px;
  background: var(--main-color);
}
.about p.header-text {
  font-size: 18px;
  font-weight: normal;
line-height: 1.8;}

#about {
  padding-bottom: 0;
  padding-top: 150px !important;
  position: relative;
  top: -6rem;
  clip-path: ellipse(90% 73% at 50% 75%);
  background-color: white;
  z-index: 4;
}

.header .img-thumbnail {
  border: 0px !important;
  max-height: 25rem !important;
  max-width: 25rem !important;
}

.about .img-thumbnail {
  padding: 0;
}

.services h3 {
  color: var(--second-color);
margin-bottom: 20px;font-weight: bold;}
.services h3 svg {
  margin-left: 10px;
}

.services p {
  font-size: small;
}

#states {
  background-image: url("/assets/landing/images/header-217.jpeg");
  
}

.states-main {
  background-color: rgb(192 148 111 / 90%) !important;
  height: 100% !important;
  

  padding-top: 150px;
  padding-bottom: 180px;
font-size: 20px;}

.about-container {
  position: relative;
}

.about-container>.gold-grid {
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: -1;
}

.about-container>.blue-grid {
  position: absolute;
  left: -50px;
  bottom: -50px;
  z-index: -1;
}

.social-icon {
  margin-left: 5px;
  background-color: var(--second-color) !important;
  color: white !important;
  border-color: var(--second-color) !important;
  border-radius: 0.9rem !important;
}

.social-icon:hover {
  background-color: white !important;
  color: var(--second-color) !important;
}

#info {
  padding-top: 100px !important;
  position: relative;
  top: -6rem;
  clip-path: ellipse(90% 73% at 50% 75%);
  background-color: white;
  z-index: 4;
}

#info .right .header-text {
  font-size: 18px;
  margin-top: 30px !important;
margin-bottom: 50px !important;}

.second-text {
  color: var(--second-color) !important
}


.statistics .text-number {
  font-family: Cairo;
  font-weight: bolder;
font-size: 40px;margin-top: 20px !important;}

@media (max-width: 950px) {

  .header-desc-img {
      width: 90%;
      height: 90%;
      left: 50%;
      transform: translateX(-50%);
  }

  .nav-link {
    color: #000 !important;
  }
}



@media (max-width: 700px) {
  .navbar {
    padding-top: 30px !important;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-brand img {
    height: 75px !important;
  }
  .navbar-toggler {
    margin-left: 10px;
  }
  .social-icon.btn.btn-primary {
    background: #c69f7e !important;
    border-color: #c69f7e !important;
  }
  #about {
    padding: 60px 0 !important;
  }
  #about .header-text {
    position: relative;
    z-index: 1;
  margin-top: 50px;}
  .header-info {
      text-align: right;
  padding: 100px 0 !important;}
  .header {
    height: 739px;
  }

  .header-info h1 {
      font-size: 28px;
  text-align: center;line-height: 1.6;}

  .header-info p {
      font-size: 17px !important;
  text-align: center;}

}
.stats-card {
  margin: 40px 0;
}
.stats-card:hover {
  transform: scale(1.2) !important;
  transition: transform .3s !important;
  cursor: pointer;

}

.stores img {
  transition: all .2s ease;
}
.stores a:hover img {
  opacity: .7;
}

footer .logos img {

  max-height: 50px;
}


@media (max-width: 991px) {
  .nav {
    padding-top: 10px !important;
  }
  .navbar-collapse.collapse {
      
      width: 100% !important;
      height: 100% !important;
  }

}
